.header {
  background-color: white;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100px;
}

.black-line {
  background-color: black;
  height: 35%;
}

.worktime {
  margin-top: 8px;
  margin-left: 15%;
  max-width: 248px;
  color: gray;
  font-size: smaller;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.work-hours {
  font-family: Jura;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: white;
}

.address {
  font-family: Jura;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 14%;
  color: white;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.contact {
  font-family: Jura;
  font-style: normal;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 12%;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.facebook-logo {
  margin-bottom: 8px;
  margin-left: 40%;
  width: 20px;
}

.instagram-logo {
  margin-bottom: 8px;
  margin-left: 80%;
  width: 20px;
}

.routing-container {
  background-color: white;
  margin-top: 10px;
  height: 65%;
  border-bottom: 1px solid #000000;
}

.vape-logo {
  width: 60px;
  margin-left: 285px;
}

#first-filter {
  margin-left: 50px;
}

.header-filters {
  cursor: pointer;
  margin-left: 32px;
  font-family: Jura;
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

a.header-filters:hover {
  color: rgb(9, 255, 0);
}

.search-icon-test {
  margin-left: 220px;
}

.cart-icon {
  margin-left: 12px;
  width: 30px;
  height: 30px;
}

.user-icon {
  margin-left: 12px;
  width: 30px;
  height: 30px;
}
